<% i18n_scope = [:views, :orders, :form] %>

<%= form_for(@order, builder: FormBuilders::Order) do |f| %>
  <% content_for :sidebar do %>
    <div class='form-group'>
      <%= f.label :completion_date %><br>
      <%= f.date_field :completion_date, disabled: true, class: 'form-control' %>
    </div>
    <% if creating? %>
      <div class='form-group'>
        <%= label_tag t(:max_price, scope: i18n_scope) %><br>
        <%= number_field('max', 'price', min: 0, class: 'form-control') %>
      </div>
    <% end %>
    <div class='form-group'>
      <h1><span id='price' class='label label-success'></span></h1>
    </div>
  <% end %>

  <% if @order.errors.any? %>
    <div class='alert alert-danger' role='alert'>
      <%= pluralize(@order.errors.count, 'error') %> prohibited this order from being saved:

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset <%= 'disabled' if viewing? %>>
    <% if user_signed_in? %>
      <div class='panel panel-default'>
        <div class='panel panel-heading'>
          <h3><%= t('employee.intro', scope: i18n_scope) %></h3>
        </div>
        <div class='panel panel-body'>
          <%= f.user_select %>
          <%= f.select(:status) %>
          <div class='form-group'>
            <%= f.label :completion_date %><br>
            <%= f.date_field :completion_date, class: 'form-control' %>
          </div>
        </div>
      </div>
    <% end %>

    <div class='panel panel-default'>
      <div class='panel panel-heading'>
        <h3><%= t(viewing? || editing? ? :guitar_intro_alt : :guitar_intro, scope: i18n_scope) %></h3>
      </div>
      <div class='panel panel-body'>
        <%= f.fields_for :guitars, builder: FormBuilders::Guitar do |g| %>
          <div class='row'>
            <%= g.select(:body_style) %>
            <%= g.select(:body_wood) %>
            <%= g.select(:body_finish) %>
            <%= g.select(:fretboard_wood) %>
          </div>
          <div class='row'>
            <%= g.select(:fretboard_finish) %>
            <%= g.select(:neck_wood) %>
            <%= g.select(:neck_finish) %>
            <%= g.select(:tuning_peg_style) %>
          </div>
          <div class='row'>
            <%= g.select(:tuning_peg_layout) %>
            <%= g.select(:string_type) %>
            <div class='col-md-3'>
              <%= g.checkbox(:fretboard_markers) %>
            </div>
            <div class='col-md-3'>
              <%= g.checkbox(:pick_guard) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <% if @order.paid? || editing? %>
      <div class='panel panel-default'>
        <div class='panel panel-heading'>
          <h3><%= t(:order_intro, scope: i18n_scope) %></h3>
        </div>
        <div class='panel panel-body'>
          <%= f.text_field(:customer_name) %>
          <%= f.text_area(:address) %>
          <%= f.text_field(:telephone) %>
          <%= f.text_field(:email) %>
        </div>
      </div>
    <% else %>
      <div class='panel panel-default'>
        <div class='panel panel-heading'>
          <h3><%= t(:email_intro, scope: i18n_scope) %></h3>
        </div>
        <div class='panel panel-body'>
          <%= f.text_field(:email) %>
        </div>
      </div>
    <% end %>
  </fieldset>

  <%= f.hidden_field :lock_version %><br>
  <%= f.hidden_field :price %><br>
  <%= f.hidden_field :completion_date %><br>

  <% unless viewing? %>
    <div class='actions panel'>
      <% if @order.paid? %>
        <%= f.submit(class: 'btn btn-success') %>
      <% else %>
        <%= f.submit(type: :image, src: 'https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif') %>
      <% end %>
    </div>
  <% end %>
<% end %>
