<% i18n_scope = [:views, :orders, :form] %>
<% currency = t(:unit, scope: [:number, :currency, :format])%>

<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3><%= t(:guitar_intro, scope: i18n_scope) %></h3>

  <%= f.fields_for :guitars, builder: GuitarFormBuilder do |guitars_form| %>
    <div class="field">
      <%= guitar_select(guitars_form, :body_style) %>
    </div>
    <div class="field">
      <%= guitars_form.label :body_wood %><br>
      <%= guitars_form.select(:body_wood) do %>
        <% Guitar.body_woods.each do |a| -%>
          <%= content_tag(:option, a.first, value: a.first, data: {price: a.last}) %>
        <% end %>
      <% end %>
    </div>
    <div class="field">
      <%= guitars_form.label :body_finish %><br>
      <%= guitars_form.select(:body_finish) do %>
        <% Guitar.body_finishes.each do |a| -%>
          <%= content_tag(:option, a.first, value: a.first, data: {price: a.last}) %>
        <% end %>
      <% end %>
    </div>
    <div class="field">
      <%= guitars_form.label :pick_guard %><br>
      <%= guitars_form.check_box :pick_guard %>
    </div>
    <div class="field">
      <%= guitars_form.label :fretboard_wood %><br>
      <%= guitars_form.select(:fretboard_wood) do %>
        <% Guitar.fretboard_woods.each do |a| -%>
          <%= content_tag(:option, a.first, value: a.first, data: {price: a.last}) %>
        <% end %>
      <% end %>
    </div>
    <div class="field">
      <%= guitars_form.label :fretboard_finish %><br>
      <%= guitars_form.select(:fretboard_finish) do %>
        <% Guitar.fretboard_finishes.each do |a| -%>
          <%= content_tag(:option, a.first, value: a.first, data: {price: a.last}) %>
        <% end %>
      <% end %>
    </div>
    <div class="field">
      <%= guitars_form.label :fretboard_markers %><br>
      <%= guitars_form.check_box :fretboard_markers %>
    </div>
    <div class="field">
      <%= guitars_form.label :neck_wood %><br>
      <%= guitars_form.select(:neck_wood) do %>
        <% Guitar.neck_woods.each do |a| -%>
          <%= content_tag(:option, a.first, value: a.first, data: {price: a.last}) %>
        <% end %>
      <% end %>
    </div>
    <div class="field">
      <%= guitars_form.label :neck_finish %><br>
      <%= guitars_form.select(:neck_finish) do %>
        <% Guitar.neck_finishes.each do |a| -%>
          <%= content_tag(:option, a.first, value: a.first, data: {price: a.last}) %>
        <% end %>
      <% end %>
    </div>
    <div class="field">
      <%= guitars_form.label :tuning_peg_style %><br>
      <%= guitars_form.select(:tuning_peg_style) do %>
        <% Guitar.tuning_peg_styles.each do |a| -%>
          <%= content_tag(:option, a.first, value: a.first, data: {price: a.last}) %>
        <% end %>
      <% end %>
    </div>
    <div class="field">
      <%= guitars_form.label :tuning_peg_layout %><br>
      <%= guitars_form.select(:tuning_peg_layout) do %>
        <% Guitar.tuning_peg_layouts.each do |a| -%>
          <%= content_tag(:option, a.first, value: a.first, data: {price: a.last}) %>
        <% end %>
      <% end %>
    </div>
    <div class="field">
      <%= guitars_form.label :string_type %><br>
      <%= guitars_form.select(:string_type) do %>
        <% Guitar.string_types.each do |a| -%>
          <%= content_tag(:option, a.first, value: a.first, data: {price: a.last}) %>
        <% end %>
      <% end %>
    </div>
    <div class="field">
      Total price: <span id='total_price'></span>
    </div>
  <% end %>

  <h3><%= t(:order_intro, scope: i18n_scope) %></h3>

  <% if editing? %>
    <div class="field">
      <%= f.label :status %><br>
      <%= f.select :status, Order.statuses %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :delivery_type %><br>
    <%= f.select :delivery_type, Order.delivery_types %>
  </div>
  <p id='ship' hidden><%= t(:ship, scope: i18n_scope) %></p>
  <p id='local'><%= t(:local, currency: currency, hold_fee: Order.hold_fee, scope: i18n_scope) %></p>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br>
    <%= f.text_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :cc_number %><br>
    <%= f.text_field :cc_number %>
  </div>
  <div class="field">
    <%= f.label :completion_date %><br>
    <%= f.date_field :completion_date, disabled: !editing? %>
  </div>
  <div class="field">
    <%= f.hidden_field :lock_version %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
