<% i18n_scope = [:views, :orders, :form] %>

<%= form_for(@order, builder: GuitarFormBuilder) do |f| %>
  <% if @order.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@order.errors.count, 'error') %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset <%= 'disabled' if viewing? %>>
    <% if user_signed_in? %>
      <div class='panel panel-default'>
        <div class='panel panel-heading'>
          <h3><%= t('employee.intro', scope: i18n_scope) %></h3>
        </div>
        <div class='panel panel-body'>
          <%= f.user_select(:user_id, @order.user) %>
          <%= f.order_select(:status) %>
          <div class='form-group'>
            <%= f.label :completion_date %><br>
            <%= f.date_field :completion_date, class: 'form-control' %>
          </div>
        </div>
      </div>
    <% end %>

    <div class='panel panel-default'>
      <div class='panel panel-heading'>
        <h3><%= t(viewing? || editing? ? :guitar_intro_alt : :guitar_intro, scope: i18n_scope) %></h3>
      </div>
      <div class='panel panel-body'>
        <%= f.fields_for :guitars, builder: GuitarFormBuilder do |g| %>
          <div class='row'>
            <div class='col-md-4'>
              <%= g.guitar_select(:body_style) %>
            </div>
            <div class='col-md-4'>
              <%= g.guitar_select(:body_wood) %>
            </div>
            <div class='col-md-4'>
              <%= g.guitar_select(:body_finish) %>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-6'>
              <%= g.guitar_select(:fretboard_wood) %>
            </div>
            <div class='col-md-6'>
              <%= g.guitar_select(:fretboard_finish) %>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-6'>
              <%= g.guitar_select(:neck_wood) %>
            </div>
            <div class='col-md-6'>
              <%= g.guitar_select(:neck_finish) %>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-6'>
              <%= g.guitar_select(:tuning_peg_style) %>
            </div>
            <div class='col-md-6'>
              <%= g.guitar_select(:tuning_peg_layout) %>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-4'>
              <%= g.guitar_select(:string_type) %>
            </div>
            <div class='col-md-4'>
              <%= g.guitar_checkbox(:fretboard_markers) %>
            </div>
            <div class='col-md-4'>
              <%= g.guitar_checkbox(:pick_guard) %>
            </div>
          </div>
        <% end %>
        <%= f.order_text_field(:price, true) %>
        <div id='price-warning' class='alert alert-warning form-group' role='alert' hidden></div>
        <div class='form-group'>
          <%= f.label :completion_date %><br>
          <%= f.date_field :completion_date, disabled: true, class: 'form-control' %>
        </div>
      </div>
    </div>

    <%# TODO delivery type, don't require email for new %>
    <% if @order.paid? || editing? %>
      <div class='panel panel-default'>
        <div class='panel panel-heading'>
          <h3><%= t(:order_intro, scope: i18n_scope) %></h3>
        </div>
        <div class='panel panel-body'>
          <div class='row'>
            <div class='col-md-3'>
              <%= f.order_text_field(:first_name) %>
            </div>
            <div class='col-md-3'>
              <%= f.order_text_field(:last_name) %>
            </div>
            <div class='col-md-6'>
            </div>
          </div>

          <%= f.order_text_field(:address) %>
          <%= f.order_text_field(:telephone) %>
          <%= f.order_text_field(:email) %>
        </div>
      </div>
    <% else %>
      <div class='panel panel-default'>
        <div class='panel panel-heading'>
          <h3><%= t(:email_intro, scope: i18n_scope) %></h3>
        </div>
        <div class='panel panel-body'>
          <%= f.order_text_field(:email) %>
        </div>
      </div>
    <% end %>
  </fieldset>

  <%= f.hidden_field :lock_version %><br>
  <% if editing? || creating? %>
    <div class='actions panel'>
      <% if @order.paid? %>
        <%= f.submit(class: 'btn btn-success') %>
      <% else %>
        <%= f.submit(type: :image, src: 'https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif') %>
      <% end %>
    </div>
  <% end %>
<% end %>
