<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- TODO only edit -->
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :delivery_type %><br>
    <%= f.select :delivery_type, ['Ship', 'Local Pick-Up'] %>
  </div>
  <p id='ship'>Your credit card will not be charged until your guitar ships.</p>
  <p id='local' hidden>Your credit card will be charged a $50 hold fee until you pick up your guitar.</p>	
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br>
    <%= f.text_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label 'Credit Card Number' %><br>
    <%= f.text_field :cc_number %>
  </div>
  <div class="field">
    <%= f.label :completion_date %><br>
    <%= f.date_select :completion_date %>
  </div>
  <div class="field">
    <%= f.hidden_field :lock_version %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
