<% i18n_scope = [:views, :orders, :index] %>
<% title t(:title, scope: i18n_scope) %>
<h1><%= t(:title, scope: i18n_scope) %></h1>

<table id='orders-table' class='table'>
  <thead>
    <tr>
      <th>Number</th>
      <th>Completion date</th>
      <th>Status</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Telephone</th>
      <th>Email</th>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr <%= 'class=info' if order.user == current_user %>>
        <td><%= order.number %></td>
        <td><%= order.completion_date %></td>
        <td><%= order.status %></td>
        <td><%= order.first_name %></td>
        <td><%= order.last_name %></td>
        <td><%= order.telephone %></td>
        <td><%= order.email %></td>
        <td><%= order.user.try(:name) %></td>
        <td class='td-button'>
          <div class='btn-group'>
            <%= link_to 'Edit', edit_order_path(order), role: 'button', class: 'btn btn-default' %>
            <button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown' aria-expanded='false'>
              <span class='caret'></span>
            </button>
            <ul class='dropdown-menu' role='menu'>
              <li><%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
