<% i18n_scope = [:views, :orders, :new] %>

<% title t(:title, scope: i18n_scope) %>
<h1><%= t(:title, scope: i18n_scope) %></h1>

<div class='panel panel-default'>
  <div class='panel panel-heading'>
    <h3><%= t(:intro, scope: i18n_scope) %></h3>
  </div>
  <div class='panel panel-body'>
    <div class='form-group'>
      <%= label_tag t(:max_price, scope: i18n_scope) %><br>
      <%= number_field('max', 'price', min: 0, class: 'form-control') %>
    </div>
  </div>
</div>

<%= render 'form' %>

<!-- <%= link_to 'Back', orders_path %> -->
