<% i18n_scope = [:views, :orders, :new] %>

<h1><%= t('views.site_name') %></h1>

<h3><%= t(:intro, scope: i18n_scope) %></h3>

<div class="field">
  <%= label_tag t(:max_price, scope: i18n_scope) %><br>
  <%= number_field(:test, :max_price, min: 0) %>
</div>

<%= render 'form' %>

<!-- <%= link_to 'Back', orders_path %> -->
