<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href=<%= image_path('wrench.ico') %>>
  <title><%= "#{t('views.site_name')} - #{yield(:title)}" %></title>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">GuitarBuilder</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <%= form_tag(orders_status_path, method: 'get', class: 'navbar-form navbar-right') do %>
          <div class='form-group'>
            <%= text_field_tag(:number, nil, class: 'form-control', placeholder: t('views.order_number')) %>
          </div>
          <div class='form-group'>
            <%= text_field_tag(:email, nil, class: 'form-control', placeholder: t('views.email')) %>
          </div>
          <%= submit_tag(t('views.order_status'), class: 'btn') %>
        <% end %>
      </div>
    </div>
  </nav>

  <div class='container theme-showcase'>
    <div class='alert alert-danger alert-dismissible' role='alert' <%= 'hidden=true' if alert.blank? %>>
      <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
        <span aria-hidden='true'>&times;</span>
      </button>
      <%= alert %>
    </div>
    <div class='alert alert-info alert-dismissible' role='alert' <%= 'hidden=true' if notice.blank? %>>
      <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
        <span aria-hidden='true'>&times;</span>
      </button>
      <%= notice %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
