<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <title>GuitarBuilder - <%= yield(:title) %></title>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">GuitarBuilder</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Orders', orders_path %></li>
          <li><%= link_to 'New Order', new_order_path %></li>
        </ul>
        <%= form_tag(orders_status_path, method: 'post', class: 'navbar-form navbar-right') do %>
          <div class='form-group'>
            <%= text_field_tag(:number, nil, class: 'form-control', placeholder: 'Order Number') %>
          </div>
          <div class='form-group'>
            <%= text_field_tag(:email, nil, class: 'form-control', placeholder: 'Email') %>
          </div>
          <%= submit_tag('Order Status', class: 'btn') %>
        <% end %>
      </div>
    </div>
  </nav>

  <div class='container theme-showcase'>
    <%= yield %>
  </div>
</body>
</html>
